
*{
     box-sizing: border-box;
     
}

body{
    font-family: 'Open Sans', sans-serif;  

}
.svgIcon-use {
    width: 120px;
  }

.icons{
    width: 24px;
    margin-right: 12px;
}

.icons:hover{
    cursor: pointer;
}

.btnbtn{
    font-size: 12px;
    padding: 0px 14px;
    margin-right: 12px;
    background:white;
    border-radius: 4px;
    border: 1px solid rgb(100, 100, 100);
    height: 32px;
}
#upbtn{
    border: 1px solid rgb(122, 122, 122);
}
#upbtn:hover{
    border: 1px solid black;
}

.photo{
    width: 35px;
}

li{
    list-style: none;
    display: flex;
    cursor: pointer;
    font-size: 10px;    
}

li:hover{
    color: black;
}

li img{
    margin: auto;    
}

.btn-group img{
    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    right: -79px;
    top: -16px;
}

#btn1{
    height: 25px;
    margin-right: 16px;
    margin-top: 5px;
    margin-left: 16px;
    padding: 0px;
    width: 65px;
    font-size: 12px;

}

/*.svgIcon-use{
    width: 120px;
}*/


.carrusel{
    
    position: sticky;
    border-bottom: .5px solid rgba(196, 183, 183, 0.589);
    
}

.header1{
   
    padding:10px;
}

#second-card{
    border: none;
}

.user{
        font-size: 9px;    
}

.lix{
        overflow-x: hidden;
        width: 3000px;
    }

.aside{
    position:sticky;
    top: 0;
}

.imageess {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 12px;
    margin-top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .card-title{
    font-size: 16px;
  }

  .text-card{
    font-size: 14px;
    color: gray;
  }

  .btn-group{
    position: relative;
    padding-right: 50px;
  }

  
.sizetext{
    font-size: 14px;
    color: rgb(104, 102, 102);
}


.marge{
    margin-left: 68px;
}

.arrows{
    margin-top: 8px;
    
}

.arrow{
    margin-top: 8px;
    
}

.textA{
    font-size: 13px;
    font-weight: bold;
}

.dotts{
    width: 20px;
    margin-left: 35px;
}

.asaide{
    position: -webkit-sticky;
    position: sticky;
    top:50px
}

.spam{
    background-color: rgb(247, 245, 247);
}

.about{
    font-size: 14px;
}

.menu:hover{
   cursor: pointer;
}

.dotts:hover{
 cursor: pointer;
}

/*Formulario*/
.newPost{
    background-color: rgb(234, 243, 243);


    .form-control{
        background-color: rgb(226, 226, 226);
        font-size: 13px;
    }
    label{
        font-weight: bold;
    }
    .btn-success{
        font-size: 13px;
        font-weight: bold;

    }
}






