*{
     box-sizing: border-box;
}
.container-fluid{
    width: 100%;
    padding: 270px;
    padding-top: 0;
    margin-right: auto;
    margin-left: auto;
}
li{
    list-style: none;
    display: flex;
    cursor: pointer;
    font-size: 10px;
 
    
}
li:hover{
    color: black;
}
li img{
    margin: auto;
    
}
.btn-group img{
    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    right: -79px;
    top: -16px;


}



#btn1{
    height: 25px;
    margin-right: 16px;
    margin-top: 5px;
    margin-left: 16px;
    padding: 0px;
    width: 65px;
    font-size: 12px;

}
.svgIcon-use{
    width: 80px;
}

.carrusel{
    padding-right: 12px;
    padding-left: 41px;
    position: sticky;
}

#header1{
    padding:10px;
}
#second-card{
    border: none;
}
.card-body{
    & a{
        font-size: 13px;
    }
}
    .lix{
        overflow-x: hidden;
        width: 800px;
    }
.aside{
    position:sticky;
    top: 0;
}
.imageess{
    position: relative;
    width: 100%;
    height: 150px;
    margin: 12px;
    object-fit: cover;
    
}
.sizetext{
    font-size: 14px;
    color: black;
}
.marge{
    margin-left: 78px;
}
.arrows{
    margin-top: 8px;
    margin-right: 15px;
}
.arrow{
    margin-top: 8px;
    margin-left: 15px;
}


